:root {
    --text-dark: #000;
    --text-light: #fff;
    --text-grey: #adbdcc;
    --body-font: "Poppins", sans-serif;
    --heading-font: "Anek Telugu", sans-serif;
    --h1-size: 94px;
    --h1-height: 108px;
    --h2-size: 50px;
    --h2-height: 75px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px;
    --subtitle-size: 17px;
    --subtitle-height: 26px;
    --p-size: 18px;
    --p-height: 26px;
    --secondary-text-size: 14px;
    --secondary-text-height: 18px;
    --button-size: 16px;
    /* SPACING */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    --standard-width: 1144px;

    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --blue-1: #00d4ff;
    --primary-accent: #0a2540;
    --primary-button-hover: #6d7a88;
    --bg-white: #fff;
    --bg-light: #f7f9fc;
}

body {
    font-family: var(--body-font);
    color: var(--text-dark);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-container {
    width: 100%;
    max-width: 1140px;
    margin: 9.813rem 0 0 0;
}

.two-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;

}

.two-column > .col-left {
    width: 100%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 1px solid green;
}

.two-column > .col-right {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 1px solid blue;
    color: white;
}

/*Styling Start here*/

.section-6 {
    /*height: 802px;*/
    width: 100%;
    max-width: 1920px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #6962f7;
    border: 1px solid red;
}

/*form design*/

.form-class {
    padding: 54px 118px 0 64px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.form-class > p {
    margin: 0;
}

.form-com-class{
    padding: 15px 182px 15px 26px;
    margin: 34px 68px 0 0;
    border-radius: 25px;
    border: white;
}

.hire-dev-subsection{
    background-color: none;
}

/*button*/
.send-button{
    padding: 15px 40px 12px 40px;
    margin: 34px 68px 32px 0;
    border-radius: 50px;
    width: 154px;
    height: 50px;
    background-color: mediumpurple;
}

/*Percentage part*/



/*media queries*/

@media screen and (max-width: 1212px) {
    .two-column {
        flex-wrap: wrap-reverse;
    }
}